@tailwind base;
@tailwind components;
@tailwind utilities;

body,
section {
  overflow-x: hidden;
}

@layer components {
  .link {
    @apply text-[#8ab4f8] hover:underline cursor-pointer;
  }
  .border-light {
    @apply border-b border-slate-700;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: gray;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.398);
  border-radius: 100px;
}

/* ::-webkit-scrollbar-track:hover {
  background-color: black;
} */

::-webkit-scrollbar-thumb:hover {
  background-color: red;
}
